* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.gallery-item {
  width: 360px;
}

@media only screen and (min-width: 768px) {
  .gallery-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1200px) {
  .gallery-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
