:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 20px;
  background-color: #ffffff;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: #4e75ff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  width: 91px;
  height: 40px;
}

.form input:hover {
  border-color: #000000;
}

.form input:focus {
  border-color: #4e75ff;
  outline: none;
}
.form button:hover {
  background-color: #6c8cff;
}

.hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
}
